<div class="container-fluid my-3">
    <div class="row">
        <div class="col-sm-2 d-none d-sm-block">
            <a href="{{ path('homepage')}}">
                <img src="/images/logo120.png" alt="Plat à tajine" class="imge-fluid"/>
            </a>
        </div>
        <div class="col-12 col-sm-9 ml-4 nom-site">
            <h1>La cuisine de Marguerite et Aurélien</h1>
            <h2>Yet another blog about cooking</h2>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto ml-1">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage')}}">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipes_index')}}">Recettes<span class="sr-only">(current)</span></a>
            </li>
            {% if app.user %}
                <li><a href="{{path('users_list')}}" class="nav-link">Membres</a></li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}

                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="myAccountDropdownMenu" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{app.user.avatar}}" alt="Avatar de {{app.user.fullName}}" class="avatar-mini avatar"/>
                    {{app.user.pseudo}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="myAccountDropdownMenu">
                    <a href="{{path('recipes_create')}}" class="dropdown-item">
                        Proposez une nouvelle recette
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{{path('account_index')}}" class="dropdown-item">Mon compte</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{path('account_profile')}}" class="dropdown-item">
                        Modififier vos informations
                    </a>
                    <a href="{{path('account_password')}}" class="dropdown-item">
                        Modifiez votre mot de passe
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{{path('account_logout')}}" class="dropdown-item">
                        Déconnexion
                    </a>
                </div>

                {# <li class="nav-item dropdown">
                    <a href="{{ path('account_logout')}}" class="nav-link">Déconnexion</a>
                </li> #}
            {% else %}
                <li class="nav-item"><a href="{{ path('account_register') }}" class="nav-link">S'inscrire</a></li>
                <li class="nav-item"><a href="{{ path('account_login')}}" class="nav-link">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!--dans la variable globale app.flashes on a le tableau messages-->
<!--messages contient un tableau-->
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{label}}">
            {% for message in messages %}
                <p>{{message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
